<p>reactive-form works!</p>

<h1>Reactive Form</h1>

<div class="container bg-dark-subtle p-3">
  <form
    class="row g-3 needs-validation"
    (ngSubmit)="onUserSave()"
    [formGroup]="userForm"
  >
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        required
        formControlName="fname"
      />
      <div class="text-danger">
        @if (userForm.controls['fname'].errors?.['required'] &&
        userForm.controls['fname'].touched) {
        <span>This is Required</span>
        }
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom02"
        required
        formControlName="lname"
      />
      @if (userForm.controls['lname'].touched){
      <div class="text-danger">
        @if (userForm.controls['lname'].errors?.['required']){
        <span>This is Required</span>
        } @if (userForm.controls['lname'].errors?.['minlength']){
        <span>Min 5 Char Needed</span>
        }
      </div>
      }
    </div>
    <div class="col-md-4">
      <label for="validationCustomUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
        <input
          type="text"
          class="form-control"
          id="validationCustomUsername"
          aria-describedby="inputGroupPrepend"
          required
          formControlName="userName"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom03" class="form-label">City</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        required
        formControlName="city"
      />
    </div>
    <div class="col-md-3">
      <label for="validationCustom04" class="form-label">State</label>
      <select
        class="form-select"
        id="validationCustom04"
        required
        formControlName="state"
      >
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Goa">Goa</option>
        <option value="Bangalore">Bangalore</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="validationCustom05" class="form-label">Zip</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom05"
        required
        formControlName="zipCode"
      />
    </div>
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck"
          required
          formControlName="isAgree"
        />
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <div class="col-12">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="userForm.invalid"
      >
        Submit form
      </button>
    </div>
  </form>
</div>
