<router-outlet></router-outlet>

<!-- <p class="shine-gradient add">Hello Varun</p> -->
<!-- <app-admin></app-admin> -->
<!-- <table style="width: 100%; border: 1px solid #000; border-collapse: collapse">
  <tr>
    <td><app-admin></app-admin></td>
    <td><app-user></app-user></td>
  </tr>
</table> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-ng-if></app-ng-if> -->

<!-- <app-ng-for></app-ng-for> -->

<!-- <app-ng-class></app-ng-class> -->

<!-- <app-ng-style></app-ng-style> -->
